/* =========================== */
/*  ESTILOS GENERALES          */
/* =========================== */

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #1e1f26;
  color: #e5e5e5;
}

/* =========================== */
/*  NAVBAR                     */
/* =========================== */

.navbar {
  width: 100%;
  background-color: #0d0d0e;
  padding: 18px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  height: 33px;
  margin-right: 25px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin-right: 28px;
  font-weight: 500;
}

.spark {
  color: #ccc !important;
  font-weight: 600;
}

/* Parte derecha nav */

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.create-btn {
  background-color: #262626;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.search {
  background-color: #1a1a1a;
  border: none;
  color: #ccc;
  padding: 9px 14px;
  border-radius: 5px;
}

.login {
  background-color: #262626;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

.signup {
  background-color: #1a1a1a;
  border: none;
  padding: 10px 18px;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

/* =========================== */
/*  HERO SECTION               */
/* =========================== */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 80px 100px;
}

.hero-text {
  max-width: 520px;
}

.hero-text h1 {
  font-size: 32px;
  color: #ffffff;
  line-height: 1.4;
  font-weight: 400;
}

.hero-text h1 span {
  font-weight: 700;
}

.hero-text p {
  font-size: 18px;
  margin-top: 25px;
  color: #cfcfcf;
}

/* Botones */
.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.signup-free {
  background-color: #4df28e;
  border: none;
  padding: 15px 28px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  color: #000;
}

.learn-more {
  background-color: #2f2f2f;
  border: none;
  padding: 15px 28px;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

/* Imagen derecha */

.hero-img img {
  width: 530px;
  border-radius: 10px;
  border: 1px solid #444;
}

/* =========================== */
/*  FOOTER                     */
/* =========================== */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #0f0f12;
  padding: 25px 0;
  color: #d6d6d6;
  border-top: 1px solid #333;
  font-size: 18px;
}

.footer strong {
  color: #ffffff;
}
